# Secretos
.env
*.local

# Authelia: tiene hashes argon2 reales de los users.
# Commiteamos solo el .example.
authelia/users_database.yml

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*~

# Datos / logs de runtime (por si en el futuro montás volúmenes locales)
data/
logs/
recordings/
